{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Verna - Sanat - Homan</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <!-- Vendor CSS Files -->
    <link href="{% static 'home/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
    <link href="{% static 'home/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  
    <!-- Main CSS File -->
    <link href="{% static 'home/css/main.css' %}" rel="stylesheet">
    <!-- =======================================================
    
    ======================================================== -->

  </head>
  <body class="index-page">
    {% block body %}{% endblock body %}
    <!--===============================================================================================-->
	<script src="{% static 'home/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'home/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'home/vendor/bootstrap/js/popper.js' %}"></script>
        <script src="{% static 'home/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'home/vendor/aos/aos.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'home/vendor/swiper/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'home/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <!--===============================================================================================-->
        <script src="{% static 'home/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
        <!--===============================================================================================-->
        <script src="{% static 'home/vendor/purecounter/purecounter_vanilla.js' %}"></script>
        <script src="{% static 'home/js/main-index.js' %}"></script>


  <!-- Main JS File -->
</body>
</html>